In [18]:
from datetime import date, timedelta
from dotenv import load_dotenv
import yfinance as yf
import pandas as pd
from sqlalchemy import Engine, create_engine, text

from securities_load.securities.postgresql_database_functions import (
    connect,
    sqlalchemy_engine,
)
from securities_load.securities.securities_table_functions import (
    add_or_update_option_data,
    add_or_update_tickers,
    get_data_vendor_id,
    get_exchange_id,
    get_ticker_id,
    get_ticker_type_id,
    get_yahoo_ticker_using_ticker_id,
    retrieve_ticker_ids_for_watchlist_code,
    get_exchange_code,
)
load_dotenv()
conn = connect()
engine = sqlalchemy_engine()

postgresql+psycopg2://securities:tS$,8,WLvy@localhost:5432/dev_db

In [19]:
# Read file into a DataFrame: df
file = '/home/ubuntuuser/karra/securities_load/data/S&P500.csv'
df = pd.read_csv(file, sep=',', header=0)
df.head()

    watchlist_type  watchlist_name  exchange_code stock_symbol
0  Stocks in Index  S&P 500 stocks            NaN         MSFT
1  Stocks in Index  S&P 500 stocks            NaN         NVDA
2  Stocks in Index  S&P 500 stocks            NaN         AAPL
3  Stocks in Index  S&P 500 stocks            NaN         AMZN
4  Stocks in Index  S&P 500 stocks            NaN         GOOG

In [23]:
for index, row in df.iterrows():
    ticker = row['stock_symbol']
    currency_code = 'USD'
    table = "securities.ticker"
    # create a list of columns from the dataframe
    table_columns = "exchange_id"

    condition = "ticker = :ticker AND currency_code = :currency_code"
    data = {"ticker": ticker, "currency_code": currency_code}

    select_stmt = f"SELECT {table_columns} FROM {table} WHERE {condition}"
    sql = text(select_stmt)
    # print(ticker)
    with engine.connect() as connection:
        result = connection.execute(sql, data).fetchone()
    if result is None:
        print(f"Ticker {ticker} not found in the database.")
        continue

    exchange_code = get_exchange_code(engine, result[0]) # type: ignore
    df.loc[index, 'exchange_code'] = exchange_code
# print(df.head(20))
# Create a new DataFrame with the desired columns

Ticker EXE not found in the database.
     watchlist_type  watchlist_name exchange_code stock_symbol
0   Stocks in Index  S&P 500 stocks          XNAS         MSFT
1   Stocks in Index  S&P 500 stocks          XNAS         NVDA
2   Stocks in Index  S&P 500 stocks          XNAS         AAPL
3   Stocks in Index  S&P 500 stocks          XNAS         AMZN
4   Stocks in Index  S&P 500 stocks          XNAS         GOOG
5   Stocks in Index  S&P 500 stocks          XNAS        GOOGL
6   Stocks in Index  S&P 500 stocks          XNAS         META
7   Stocks in Index  S&P 500 stocks          XNAS         TSLA
8   Stocks in Index  S&P 500 stocks          XNYS        BRK.B
9   Stocks in Index  S&P 500 stocks          XNAS         AVGO
10  Stocks in Index  S&P 500 stocks          XNYS          WMT
11  Stocks in Index  S&P 500 stocks          XNYS          JPM
12  Stocks in Index  S&P 500 stocks          XNYS            V
13  Stocks in Index  S&P 500 stocks          XNYS          LLY
14  Stocks in Index  S&P 500 stocks          XNYS           MA
15  Stocks in Index  S&P 500 stocks          XNAS         NFLX
16  Stocks in Index  S&P 500 stocks          XNAS         COST
17  Stocks in Index  S&P 500 stocks          XNYS          XOM
18  Stocks in Index  S&P 500 stocks          XNYS         ORCL
19  Stocks in Index  S&P 500 stocks          XNYS           PG

In [24]:
df.to_csv('/home/ubuntuuser/karra/securities_load/data/S&P500_with_exchange.csv', index=False)